.input-container {
  margin-top: 30px;
}
.text-field {
  width: 100%;
  outline: none;
}

.text-field input:focus {
  outline: none;
  box-shadow: none;
}

.no-border {
  border: none;
}

.TextField:focus {
  border: none;
  outline: none;
}

.MuiOutlinedInput-root.Mui-focused {
  border: none;
  outline: none;
}

input:focus {
  border: none;
  outline: none;
}
